---
import ToolsContent from './ToolsContent.astro'
import NeuuniSpaceLogo from '../../assets/logos/Neuuni/NeuuniSpace.astro'
import NeuuniPlayLogo from '../../assets/logos/Neuuni/NeuuniPlay.astro'
import NeuuniConnectLogo from '../../assets/logos/Neuuni/NeuuniConnect.astro'

---

<section class="w-full px-10 my-32 text-neutral-900 dark:text-neutral-200">
    <!-- Movil Title -->
    <div class="block md:hidden mb-10">
        <h3 class="text-3xl md:text-5xl font-extrabold mb-4">Herramientas Neuuni</h3>
        <p>Nuestra plataforma integra herramientas pedagógicas diseñadas para facilitar la comprensión de los contenidos, explorar en profundidad los temas y mantener un equilibrio entre la educación y la mejor tecnología al alcance de todos.</p>
        <div class="flex flex-wrap gap-x-5 gap-y-5 mt-5">
            <div class="text-sm grid place-content-center py-2 px-5 font-bold text-white bg-nprimary rounded-md">Tecnologia</div>
            <div class="text-sm grid place-content-center py-2 px-5 font-bold text-white bg-nprimary rounded-md">Educacion</div>
            <div class="text-sm grid place-content-center py-2 px-5 font-bold text-white bg-nprimary rounded-md">Innovacion</div>
            <div class="text-sm grid place-content-center py-2 px-5 font-bold text-white bg-nprimary rounded-md">Aprendizaje</div>

       </div>
    </div>
    
    <div class="flex w-full">
        
        <!-- Desktop Title -->
        <div class=" hidden w-full lg:flex items-center justify-center ">
            <aside class="w-full max-w-3xl flex items-center self-start sticky top-40  ">
                <div>
                   <h3 class="text-3xl md:text-5xl font-extrabold mb-2">Herramientas Neuuni</h3>
                   <h4 class="text-xl font-semibold mb-4 text-pretty">Educacion de calidad al alcance de todos.</h4>
                   <p>Nuestra plataforma integra herramientas pedagógicas diseñadas para facilitar la comprensión de los contenidos, explorar en profundidad los temas y mantener un equilibrio entre la educación y la mejor tecnología al alcance de todos.</p>
    
                    <div class="flex flex-wrap gap-x-5 gap-y-5 mt-5">
                        <div class="text-sm grid place-content-center py-2 px-5 font-bold text-white bg-nprimary rounded-md">Tecnologia</div>
                        <div class="text-sm grid place-content-center py-2 px-5 font-bold text-white bg-nprimary rounded-md">Educacion</div>
                        <div class="text-sm grid place-content-center py-2 px-5 font-bold text-white bg-nprimary rounded-md">Innovacion</div>
                        <div class="text-sm grid place-content-center py-2 px-5 font-bold text-white bg-nprimary rounded-md">Aprendizaje</div>
    
                   </div>
                </div>
            </aside>
        </div>
        
        <!-- Neuuni Tools -->
        <main class="w-full flex flex-col items-start justify-center">
            <ToolsContent title="Neuuni Connect" text="Aprovecha la funcionalidad de Neuuni Connect donde puedes comentar un video en el segundo en donde tengas dudas y los demas pueden verlo y asi ayudarse mutuamente, es genial" >
                <NeuuniSpaceLogo class="w-24" slot='icon'/>
            </ToolsContent>
            <ToolsContent cls="my-20" title="Neuuni Play" text="Te imaginas una plataforma similar a Netflix completamente gratis y con contenidos de alta calidad, doctores y maestros de todo el mundo.">
                <NeuuniPlayLogo class="w-24" slot='icon'/>
            </ToolsContent>
            <ToolsContent title="Neuuni Space" text="Neuuni Connect es un blog que te ayuda a aprender sobre las tendencias en el mundo, nos mantiene informados de lo mas relevante que puedas encontrar."> 
                <NeuuniConnectLogo class="w-24" slot='icon'/>
            </ToolsContent>
        </main>
    </div>
</section>



