---
interface Props {
    title: string
    text: string
}

const { title, text } = Astro.props
---
<div 
    class="w-full h-80 max-w-xl 
    rounded-md 
    flex flex-col justify-center ">

    <div class=" flex flex-col gap-5">
        <h3 class="text-3xl font-semibold">{title}</h3>
        <p class="text-sm ">Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptatibus accusamus officia repudiandae asperiores! Consequatur unde facilis quod quis dolores corporis iusto facere temporibus rerum iste, illo architecto cupiditate ad labore laborum esse beatae porro commodi nam assumenda eligendi! Animi.</p>

        <div class="w-full h-20">
            <img class="w-full h-full object-cover" src="https://unineuuni.edu.mx/sites/default/files/styles/imagen_730x450/public/noticias/2024-02/15feb_1.jpg?h=225e6152&itok=SJZGX2KS" alt="">
        </div>
    </div>
    <!-- <h1 class="text-2xl md:text-3xl font-bold mb-4">Neuuni Space</h1>
    <p class="text-sm text-pretty">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex porro distinctio dolores adipisci similique molestiae praesentium fugit consectetur aspernatur, quae minima at in eum vero cum obcaecati deleniti voluptatem exercitationem corrupti blanditiis accusamus natus! Deserunt, adipisci. Corporis ullam atque velit nihil obcaecati deleniti voluptate ipsa. Facere porro iste sed culpa omnis repellat.</p>

    <div class="text-sm w-full h-40">
        <img class="w-full h-full object-cover" src="https://unineuuni.edu.mx/sites/default/files/styles/imagen_730x450/public/noticias/2024-02/15feb_1.jpg?h=225e6152&itok=SJZGX2KS" alt="">
    </div> -->
</div>