<section class="text-neutral-700  dark:text-neutral-200 relative overflow-x-clip z-10 my-24 px-5 lg:px-10">

  <div class="w-80 h-40 absolute bg-nprimary/50 top-40 -right-40 rounded-md blur-3xl rotate-45"></div>

  <div class="container mx-auto">
    <div class="flex flex-col text-start lg:text-center w-full mb-20">
      <div class="border-4 border-nprimary w-fit self-start md:self-center px-4 py-2 mb-8 rounded-full">
        <h2 class="font-semibold text-sm">Somos la mejor universidad en linea</h2>
      </div>
      <h1 class="sm:text-5xl text-4xl font-bold mb-4 text-neutral-900 dark:text-neutral-100">Neuuni Universidad</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-xl text-neutral-900 dark:text-neutral-100">¡Descubre la nueva era de la educación con nosotros! Nuestros alumnos destacan por su preparación superior, gracias a la flexibilidad de horarios, materiales interactivos y acceso a expertos de todo el mundo. Estudiar en línea con nosotros es la clave para un futuro educativo más dinámico y exitoso.</p>
    </div>
    <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-4 border-neutral-300 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-neutral-900 dark:text-neutral-50 font-medium title-font mb-2">Licenciaturas</h2>
        <p class="leading-relaxed text-base mb-4">Licenciaturas especializadas para formación avanzada y éxito laboral garantizado.</p>
        <a class="text-nprimary dark:text-nsecondary font-semibold inline-flex items-center cursor-pointer">Saber mas
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-4 border-neutral-300 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-neutral-900 dark:text-neutral-50 font-medium title-font mb-2">Maestrias</h2>
        <p class="leading-relaxed text-base mb-4">Maestrías con enfoque investigativo para desarrollo académico y profesional.</p>
        <a class="text-nprimary dark:text-nsecondary font-semibold inline-flex items-center cursor-pointer">Saber mas
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-4 border-neutral-300 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-neutral-900 dark:text-neutral-50 font-medium title-font mb-2">Doctorado</h2>
        <p class="leading-relaxed text-base mb-4">Doctorados impulsan investigación de vanguardia para líderes académicos y profesionales.</p>
        <a class="text-nprimary dark:text-nsecondary font-semibold inline-flex items-center cursor-pointer">Saber mas
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-4 border-neutral-300 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-neutral-900 dark:text-neutral-50 font-medium title-font mb-2">Cursos</h2>
        <p class="leading-relaxed text-base mb-4">Cursos especializados potencian habilidades clave para crecimiento profesional y personal.</p>
        <a class="text-nprimary dark:text-nsecondary font-semibold inline-flex items-center cursor-pointer">Saber mas
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
    
  </div>
</section>
