<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="inline-block px-3 py-px mb-4  font-semibold tracking-wider text-nprimary uppercase rounded-full bg-teal-accent-400">
        Porque somos los mejores?
      </p>
    </div>
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-extrabold leading-none tracking-tight text-neutral-900 sm:text-5xl md:mx-auto">
      <span class="relative inline-block">
        <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
          <defs>
            <pattern id="2feffae2-9edf-414e-ab8c-f0e6396a0fc1" x="0" y="0" width=".135" height=".30">
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect fill="url(#2feffae2-9edf-414e-ab8c-f0e6396a0fc1)" width="52" height="24"></rect>
        </svg>
        <span class="relative">Neuuni Universidad</span>
      </span>

    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      En Neuuni encontrarás las nuevas tendencias educativas que te garantizan la preparación que el mundo exige hoy.
    </p>
  </div>
  <div class="grid max-w-screen-lg gap-8 lg:grid-cols-2 sm:mx-auto">
    <div class="grid grid-cols-2 gap-5">
      <img class="object-cover w-full h-56 col-span-2 rounded shadow-lg" src="https://unineuuni.edu.mx/sites/default/files/styles/imagen_730x450/public/noticias/2024-02/15feb_1.jpg?h=225e6152&itok=SJZGX2KS" alt="" />
      <img class="object-cover w-full h-48 rounded shadow-lg" src="https://unineuuni.edu.mx/sites/default/files/styles/imagen_730x450/public/noticias/2023-12/noticia_14dic_1.jpg?h=225e6152&itok=uRw74CR9" alt="" />
      <img class="object-cover w-full h-48 rounded shadow-lg" src="https://unineuuni.edu.mx/sites/default/files/styles/imagen_730x450/public/noticias/2024-01/5TO_ANIV.jpg?h=225e6152&itok=em0WsLZO" alt="" />
    </div>
    <div class="flex flex-col justify-center">
      <div class="pb-4 mb-4 border-b-4 border-nprimary">
        <h6 class="mb-2 font-semibold leading-5 text-xl">
          Licenciatura
        </h6>
        <p class="text-sm text-gray-900">
          Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower, omar sharif old.
        </p>
      </div>
      <div class="pb-4 mb-4 border-b-4 border-nprimary">
        <h6 class="mb-2 font-semibold leading-5 text-xl">
          Maestrias 
        </h6>
        <p class="text-sm text-gray-900">
          Chase ball of string eat plants, meow, and throw up because I ate plants going to catch the red dot today going to catch the red dot today. I could pee on this if I had the energy.
        </p>
      </div>
      <div class="pb-4 mb-4 border-b-4 border-nprimary">
        <h6 class="mb-2 font-semibold leading-5 text-xl">
          Doctorado
        </h6>
        <p class="text-sm text-gray-900">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae doloremque laudantium.
        </p>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5 text-xl">
          Cursos
        </h6>
        <p class="text-sm text-gray-900">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae doloremque laudantium.
        </p>
      </div>
      
    </div>
  </div>
</div>