---
import LinkHeader from './buttons/LinkHeader.astro'
import PlataformButton from './buttons/PlataformButton.astro'
import NeuuniUniversidadLogo from '../assets/NeuuniUniversidad.astro'
import NeuuniLogo from '../assets/Neuuni.astro'
---
<header 
class=" fixed w-full flex items-center justify-between z-40
py-5 px-5 lg:px-10
isolate backdrop-blur-md bg-dark-200/30 dark:bg-dark-900/30 dark:text-neutral-50">
    <div class="flex items-center gap-3">
        <NeuuniLogo class="fill-nprimary dark:fill-neutral-50 size-8"/>
        <h1 class="hidden lg:block font-semibold text-lg ">Neuuni Universidad</h1> 
    </div>

    <nav class="hidden md:flex items-center gap-x-8  ">
       <LinkHeader href="/" text="Oferta Educativa" />
       <LinkHeader href="/" text="Webinar" />
       <LinkHeader href="/" text="Blog Neuuni" />

       <PlataformButton />

       
    </nav>

    <button class="block lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-8 fill-white" viewBox="0 0 24 24"><path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path></svg>
    </button>
</header>