---
import PrimaryButton from './buttons/PrimaryButton.astro'
---

<div class="w-full min-h-screen flex items-center justify-center relative overflow-x-clip px-8">
    <div class="h-full w-full absolute top-0 -z-10">
        <div class=" h-1/2 w-1/3 absolute bottom-auto left-auto -right-10 md:-right-40 top-1/4 blur-2xl bg-nprimary/30 rounded-full"></div>
    </div>
    <div class="h-full w-full absolute top-0 -z-10">
        <div class=" h-1/2 w-1/3 -top-20 -left-20 md:-left-40 -z-20 blur-2xl absolute bg-nsecondary/20 rounded-full"></div>
    </div>
    <div class="h-full w-full absolute top-0 -z-10">
        <div class=" h-1/2 w-1/3 -bottom-32 -left-20 -z-20 blur-2xl absolute bg-nprimary/30 rounded-full"></div>
    </div>
   
    <div class="relative max-w-3xl z-10 animate-fade-up animate-once animate-duration-1000 animate-delay-500 animate-ease-out animate-normal animate-fill-backwards">
        <h1 class="text-4xl md:text-5xl font-extrabold mb-4 ">Mas que clases en linea, un <span class="bg-clip-text text-transparent bg-[linear-gradient(to_right,theme(colors.nsecondary),theme(colors.nprimary),theme(colors.nprimary),theme(colors.nsecondary))] bg-[length:200%_auto] animate-gradient">ecosistema virtual.</span></h1>

        <p class="text-pretty mb-6">Dentro de esta realidad digital, las lecciones en línea se transforman en un ecosistema educativo vibrante, donde se fusionan la tecnología, la imaginación y el aprendizaje sin fronteras.</p>

        <div class="flex flex-wrap gap-y-5 gap-x-8">
            <PrimaryButton text="Empezar ahora" />
            <a href="#_" class="inline-flex items-center justify-center font-semibold duration-200 hover:text-nprimary focus:outline-none focus-visible:outline-gray-600">
                Learn more   →
              </a>
        </div>

        
    </div>

    <!-- Buttons slide -->
    <button class="absolute bottom-1/2 right-20 animate-fade-left animate-delay-[500ms]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="stroke-[5px] stroke-black size-10" fill="none" class="duration-300 transform transition-all"><path d="M18.86 57.47l25.26-26.63L18.86 6.58"></path></svg>
    </button>
    <button class="absolute bottom-1/2 left-20 animate-fade-right animate-delay-[500ms]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="stroke-[5px] stroke-black size-10" fill="none" class="duration-300 transform transition-all"><path d="M45.15 57.47L19.88 30.84 45.15 6.58"></path></svg>
    </button>



</div>